main{
  background-color: rgb(172, 227, 250);
}

.navbar{
  background-color: rgb(0, 149, 255);
  height: 75px;
  width: 100%;
}

.navbar-left li{
  float: left;
  list-style: none;
  margin: 13px 20px;
}

.navbar-right li{
  float: right;
  list-style: none;
  margin: 13px 15px;
}

.navbar-left li a{  
  background: white;
  border-radius:7px;
  padding: 5px;
  text-decoration: none;
  color: rgb(0, 89, 128);
  display: block;
  margin: -5px;
}

.navbar-right li a{
  padding: 3px 3px;
  text-decoration: none;
  color: white;
  margin: -3px;
} 

#signin{
  background: white;
  border-radius:7px;
  padding: 3px 3px;
  text-decoration: none;
  color: rgb(128, 0, 0) !important;  
  display: block;
}

header{
  display: flex;
}

.container{
  background-color: rgb(227, 255, 124);
  height: 400px;
  width: 800px;
  border: 3px solid;
  padding: 20px;  
  margin: auto;
}

img {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  padding: 5px;
  height:175px; 
  width:175px;
  display: block;
  margin: auto;  
}

.left1{ width: 500px; }

.right1{ width: 200px;
}

.faq{
  display: block;
  width: 100%;
  margin-top: 50px;
  margin-left: 25px;
  margin-right: 0%;
}

    h1{text-align: left;color:rgb(0, 0, 62);}
    h2{text-align: left;color:rgb(75, 75, 75);}
    h3{text-align: left;color:rgb(75, 75, 75);}
    h5{text-align: left;color:rgb(75, 75, 75);}

  .column {
    float: left;
    padding: 15px;
    height: 600px; 
  }
  
  .left {
    width: 500px;
  }
  
  .right {
    width: 500px;
  }
  .row{
    display: flex;
    flex-direction: row;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .custom-select {
    position: relative;
    font-family: Arial;
    margin: auto;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element:*/
  }
  
  .select-selected {
    background-color: DodgerBlue;
  }
  
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
    
  }
  
  .select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
  }
  
  .select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    margin: auto;
    font-size: 16px;
    margin-left: 175px;
    border-radius: 10px;
    cursor: pointer;
  }

  .btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 8px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 40px;
  }
  
  #input{
    margin-left: 125px; 
  }
